altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/altgraph-0.17.2-py2.py3-none-any.whl
asgiref==3.7.2
certifi==2024.7.4
charset-normalizer==3.3.2
Django==4.2.4
djangorestframework==3.14.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/future-0.18.2-py3-none-any.whl
gunicorn==21.2.0
idna==3.7
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/macholib-1.15.2-py2.py3-none-any.whl
mysql-connector-python==8.1.0
mysqlclient==2.2.0
packaging==23.1
pillow==10.3.0
protobuf==4.21.12
PyMySQL==1.1.0
pytz==2023.3.post1
requests==2.32.3
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/six-1.15.0-py2.py3-none-any.whl
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.2.2
uWSGI==2.0.22

